.Artist_Events {
 border-top: solid 1px  #ddd;
}


.Artist_Event_Title {
 font-size: 14px;
}

.Events_Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}
